{% extends 'base.html' %}

{% block title %}Tommy Santoyo{% endblock %}

{% block body %}
<div class="flex flex-vertical">
  <img src="images/profile.jpg" id="avatar">
  <p class="flex-item-50 double-spaced">I'm a real cool boye with lots of knowledge I'm a real cool boye with lots of knowledge I'm a real cool boye
    with lots of knowledge I'm a real cool boye with lots of knowledge I'm a real cool boye with lots of knowledge
    I'm a real cool boye with lots of knowledge I'm a real cool boye with lots of knowledge I'm a real cool boye
    with lots of knowledge I'm a real cool boye with lots of knowledge I'm a real cool boye with lots of knowledge
    I'm a real cool boye with lots of knowledge I'm a real cool boye with lots of knowledge I'm a real cool boye
    with lots of knowledge I'm a real cool boye with lots of knowledge I'm a real cool boye with lots of knowledge
    I'm a real cool boye with lots of knowledge</p>
</div>
{% endblock %}
