{% extends 'base.html' %}

{% block title %}Tommy Santoyo{% endblock %}

{% block body %}
<div class="flex flex-vertical">
  <img src="images/profile.jpg" id="avatar">
  <p class="flex-item-50 double-spaced">I am currently a Cloud Engineer at Balyasny Asset Management, where I am
    responsible for the implementation and design of our cloud solution. Before Balyasny, I was part of the monitoring
    team at Trading Technologies.  In this role I lead the development of the monitoring solution across a hybrid cloud
    and data center environment. I have a degree in Mechanical Engineering from the University of Illinois at Chicago
    (UIC). I taught myself how to program during my time in college, and quickly transitioned into the industry after
    graduation. I have experience with a wide range of technologies used in automating deployments, monitoring, and the
    creation of infrastructure. Outside of work I enjoy working on side projects including Unity3D games, and various
    web applications. I am an avid sports fan, and love to play hockey in my free time. Take a look at my resume to
    learn more, and feel free to send me an email and say hi!</p>
</div>
{% endblock %}
